.exercism.json
vendor/

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.cache/

# Test Coverage
coverage/

# Intellij
*.iml
.idea/

# Gradle files
*.gradle
gradle/
gradlew
gradlew.bat
build/

# Misc
.keep
