name: Go

on: [push, pull_request]
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    # https://stackoverflow.com/questions/61163306/running-go-test-in-parent-directory-of-multiple-go-modules
    - name: Test
      run: find . -name go.mod -execdir go test ./... \; 
